# Importing libraries and setting up connection

In [1]:
from pymongo import MongoClient
import pandas as pd
import time
import numpy as np
import re

In [2]:
client = MongoClient("localhost:27017")

In [3]:
client.list_database_names()

['Ironhack', 'admin', 'config', 'local']

In [4]:
db = client["Ironhack"]

In [5]:
c = db.get_collection("companies")

In [6]:
c

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Ironhack'), 'companies')

# Queryng

## 3 top cities

###### Three cities are selected as candidates based on the location of the video game companies that have raised the most money.

In [7]:
#c.distinct("category_code")

In [8]:
query = {"category_code": "games_video",
         "total_money_raised": {"$regex": re.compile(r"^(€|\$|¥)[1-9]\d*M$")},
         "offices.city": {"$exists": True, "$ne": None}}
projection = {"name": 1, "_id" : 0, "total_money_raised": 1, "offices.city": 1}
results = list(c.find(query, projection).sort("total_money_raised", -1))

# Dataframe
df = pd.DataFrame(results)

# Create new columns for "city" and cleaning the dataframe
df['offices'] = df['offices'].apply(lambda x: x[0]['city'] if x else None)
df['offices'].replace('', np.nan, inplace=True)
df.dropna(subset=['offices'], inplace=True)
pd.set_option('display.max_rows', None)

df

                         name total_money_raised           offices
0             NYX Interactive                €5M         Stockholm
1             NYX Interactive                €5M         Stockholm
2                     Selatra                €4M              Cork
3                    Bigpoint              €420M           Hamburg
4                     Owlient                €3M             Paris
5                   sevenload               €25M           Cologne
6                        GREE              ¥464M             Tokyo
7                   Revision3                $9M     San Francisco
8                PermissionTV                $9M           Waltham
9           WorldWide Biggies                $9M          New York
10                    RotoHog                $8M       Los Angeles
11                   Generate                $8M      Santa Monica
12                 Riot Games                $8M       Culver City
13                      Zynga              $860M     San Francisco
14                WildTangent               $84M           Redmond
15                    GAMEVIL               $80M             Seoul
16                      Xfire                $7M      Santa Monica
17                   TuneCore                $7M          Brooklyn
18                    Playdom               $76M         Palo Alto
19                      RealD               $72M     Beverly Hills
20                    Comcast              $725M      Philadelphia
21                  Funtactix                $6M          New York
22                Brightstorm                $6M     San Francisco
23                      Saavn                $6M          New York
24        Major League Gaming               $69M          New York
25                  SellABand                $5M     46395 Bocholt
26                     PeerMe                $5M     Mountain View
27                       Fix8                $5M      Sherman Oaks
28                     WeShow                $5M          New York
29                   RiffTrax                $5M         San Diego
30                 Busca Corp                $5M          La Jolla
31                    ZeniMax              $586M         Rockville
32      FriendFinder Networks              $551M        Boca Raton
33                        hi5               $52M     San Francisco
34               RGB Networks               $52M         Sunnyvale
35                   Metacafe               $50M     San Francisco
36                  Blowtorch               $50M         Sausalito
37   NewAuto Video Technology               $50M             Hubei
38           Serious Business                $4M     San Francisco
39           Preview Networks                $4M        Copenhagen
40           Lightning Gaming                $4M          Boothwyn
41                      Joost               $45M          New York
42                 SpiralFrog               $45M          New York
43                      Zango               $40M          Bellevue
44                        Ku6               $40M           Beijing
45                   Linekong               $40M  Haidian, beijing
46                       VIVA               $40M           Beijing
47                     blogTV                $3M         Ramat Gan
48                    Rupture                $3M     San Francisco
49              DeepRockDrive                $3M         Las Vegas
50                Modern Feed                $3M       Los Angeles
51                    Tweegee                $3M         Ramat Gan
52                    Tweegee                $3M         Ramat Gan
53              C3L3B Digital                $3M         Calabasas
55                      Exent                $3M          New York
56                 Antix Labs                $3M         Berkshire
57               Oberon Media               $36M          New York
58                       Vuze               $34M         San Mateo
59                  PluggedIn                $2M      Santa Monica
61               Wazoo Sports                $2M            London
62                       PPTV              $287M          Shanghai
63                       PPTV              $287M          Shanghai
64                      Raptr               $27M     Mountain View
65                     MeeVee               $25M        Burlingame
66                     Snocap               $25M     San Francisco
67                    Velocix               $25M         Cambridge
68               AdaptiveBlue               $24M               NYC
69                    Canwest               $24M          Winnipeg
70                    Netflix              $230M         Los Gatos
71                   Playfish               $21M            London
73                  ChessPark                $1M   West Palm Beach
74                    WorldTV                $1M          Limerick
75                       XIHA                $1M          Helsinki
76                   ibeatyou                $1M      Santa Monica
77                Vivity Labs                $1M         Vancouver
78                  Monkeysee                $1M       Great Falls
79               Titan Gaming                $1M      Santa Monica
80                   Numedeon                $1M              Brea
81            Radio One Llama                $1M         Champaign
82                    GotGame                $1M     San Francisco
83               MyOtherDrive                $1M            Dayton
84                    Frenzoo                $1M         Hong Kong
85                BASH Gaming                $1M           Fremont
86                 Kongregate               $19M     San Francisco
87                     KIXEYE               $19M     San Francisco
88               Funny Or Die               $18M         San Mateo
89          Six Degrees Games               $18M    Marina del Rey
90                       MXP4               $17M             Paris
91           Verismo Networks               $17M     Mountain View
92                       RayV               $16M          New York
93                   PicksPal               $15M     Mountain View
94                   PurePlay               $15M     San Francisco
95              iStreamPlanet               $15M         Las Vegas
96                       Vtap               $14M           Andover
97                      Veveo               $14M           Andover
98             One True Media               $14M      Redwood City
99                  Games2Win               $13M     Tardeo,Mumbai
100                   RockYou              $136M      Redwood City
101                     Curse               $12M     San Francisco
102            Maven Networks               $12M         Cambridge
103        Hangout Industries               $12M            Boston
104        Hangout Industries               $12M            Boston
105               Robotgalaxy               $12M          New York
107                     Kabam              $125M     San Francisco
108            Pando Networks               $11M          New York
109                    Zattoo               $10M         Ann Arbor
110                    Boonty               $10M          New York
111            Citizen Sports               $10M     San Francisco
112                  Stardoll               $10M         Stockholm
113                    VBS TV               $10M          Brooklyn
114               Gamervision               $10M        Doylestown
115                 Quickflix               $10M             Perth
116                      hulu              $100M       Los Angeles
117                      9You              $100M          Shanghai

In [9]:
df["offices"].value_counts().head(3)

offices
San Francisco    15
New York         13
Santa Monica      5
Name: count, dtype: int64

## Tech companies

###### SAN FRANCISCO

In [10]:
cond_1 = {"$or": [
        {"category_code": "biotech"},
        {"category_code": "cleantech"},
        {"category_code": "games_video"},
        {"category_code": "nanotech"},
        {"category_code": "software"},
        {"category_code": "web"}
    ]}
cond_2 = {"funding_rounds.raised_amount": {"$gte": 1000000}}
cond_3 = {"number_of_employees": {"$lte": 100}}
cond_4 = {"offices.city": "San Francisco"}


query = {"$and": [cond_1, cond_2, cond_3, cond_4]}
projection = {"name": 1, "_id": 0, "offices.city":1, "offices.latitude": 1, "offices.longitude": 1}
tech_startups_sf = list(c.find(query, projection))

df_sf = pd.DataFrame(tech_startups_sf)

In [11]:
# Create new columns for "city", "latitude", and "longitude"
df_sf['city'] = df_sf['offices'].apply(lambda x: x[0]['city'] if x else None)
df_sf['latitude'] = df_sf['offices'].apply(lambda x: x[0]['latitude'] if x else None)
df_sf['longitude'] = df_sf['offices'].apply(lambda x: x[0]['longitude'] if x else None)

# Drop columnes, nan values and wrong cities
df_sf.drop('offices', axis=1, inplace=True)
df_sf.dropna(subset=['latitude'], inplace=True)
df_sf = df_sf.loc[df_sf['city'].str.contains('San Francisco')]
df_sf

                  name           city   latitude   longitude
0                 Kyte  San Francisco  37.788482 -122.409173
1               CastTV  San Francisco  37.780716 -122.393913
2           Pageflakes  San Francisco  37.758113 -122.414689
4                 Bebo  San Francisco  37.782103 -122.401116
5              Seesmic  San Francisco  37.775196 -122.419204
6              GoingOn  San Francisco  37.782263 -122.392142
7             Flixster  San Francisco  37.766909 -122.406676
8                  hi5  San Francisco  37.788668 -122.400558
9                Curse  San Francisco  37.787092 -122.399972
10                Yola  San Francisco  37.791115 -122.395475
11          BitTorrent  San Francisco  37.790998 -122.394668
12          Kongregate  San Francisco  37.786942 -122.401245
13            DanceJam  San Francisco  37.781557 -122.407959
14         Crunchyroll  San Francisco  37.781265 -122.393229
16               Xobni  San Francisco  37.789634 -122.404052
17             Rupture  San Francisco  37.783898 -122.395234
18       Whiskey Media  San Francisco  37.856331 -122.495222
19              Disqus  San Francisco  37.786906 -122.397672
20          GameLayers  San Francisco  37.803847 -122.402468
22            HubPages  San Francisco  37.787695 -122.399151
23               Roost  San Francisco  37.789129 -122.402028
24            clipsync  San Francisco  37.290603 -121.931785
25             Lookery  San Francisco  37.788266 -122.403865
26          Craigslist  San Francisco  37.762512 -122.466490
27         Three Rings  San Francisco  37.775196 -122.419204
28          SlideShare  San Francisco  37.776878 -122.400934
29               Boxbe  San Francisco  37.800209 -122.442592
30           UserVoice  San Francisco  36.975103 -122.025378
31            Aardvark  San Francisco  37.748676 -122.415813
32    Serious Business  San Francisco  37.789321 -122.401362
33           RateItAll  San Francisco  37.755012 -122.418137
34           New Relic  San Francisco  37.269175 -119.306607
35               Zinch  San Francisco  40.234451 -111.658656
36               Yoono  San Francisco  37.787204 -122.397884
37      Citizen Sports  San Francisco  37.777513 -122.397044
38           TerraPass  San Francisco  37.787445 -122.397847
39             Aruspex  San Francisco  37.790346 -122.401850
41          StartForce  San Francisco  37.796164 -122.420903
42  Keibi Technologies  San Francisco  37.787646 -122.402759
43           Posterous  San Francisco  37.775196 -122.419204
44         Open Places  San Francisco  37.758352 -122.398379
45             Genbook  San Francisco  37.789902 -122.400779
46       Carbonetworks  San Francisco  37.805289 -122.404448
47             Huddler  San Francisco  37.789321 -122.401362
48               Zorap  San Francisco  37.775196 -122.419204
49           GoodGuide  San Francisco  37.798318 -122.400003
50           Telespree  San Francisco  37.777092 -122.391011
51             Lolapps  San Francisco  37.787092 -122.399972
52           GoodGuide  San Francisco  37.798318 -122.400003
53           Telespree  San Francisco  37.777092 -122.391011
54             Lolapps  San Francisco  37.787092 -122.399972
55          Reframe It  San Francisco  37.782163 -122.400591
56          Formspring  San Francisco  39.905226  -86.054702
57            DocVerse  San Francisco  37.788115 -122.397141
58         Clikthrough  San Francisco  37.796578 -122.402286
59       Double Fusion  San Francisco  37.788714 -122.392714
60           CyberArts  San Francisco  37.737609 -122.435399
61                KODA  San Francisco  37.788796 -122.409710
63               UTOPY  San Francisco  37.767575 -122.411157

In [12]:
#df_sf.to_csv('../data/tech_companies_sf.csv', index=False)

###### NEW YORK

In [13]:
query = {"$or": [
        {"category_code": "design"},
        {"category_code": "biotech"},
        {"category_code": "cleantech"},
        {"category_code": "games_video"},
        {"category_code": "nanotech"},
        {"category_code": "software"},
        {"category_code": "web"}
    ]}
cond_2 = {"funding_rounds.raised_amount": {"$gte": 1000000}}
cond_3 = {"number_of_employees": {"$lte": 100}}
cond_4 = {"offices.city": "New York"}


query = {"$and": [query, cond_2, cond_3, cond_4]}
projection = {"name": 1, "_id": 0, "offices.city":1, "offices.latitude": 1, "offices.longitude": 1}
tech_startups_ny = list(c.find(query, projection))

df_ny = pd.DataFrame(tech_startups_ny)
df_ny

                    name                                            offices
0               Wetpaint  [{'city': 'Seattle', 'latitude': 47.603122, 'l...
1                  Joost  [{'city': 'New York', 'latitude': 40.7464969, ...
2                 Meetup  [{'city': 'New York', 'latitude': 40.72604, 'l...
3         Pando Networks  [{'city': 'New York', 'latitude': 40.722655, '...
4             SpiralFrog  [{'city': 'New York', 'latitude': 37.09024, 'l...
5                  Tutor  [{'city': 'New York', 'latitude': 40.707921, '...
6                 OMGPOP  [{'city': 'New York', 'latitude': 40.723384, '...
7                Behance  [{'city': 'New York', 'latitude': 40.74406, 'l...
8                in2apps  [{'city': 'New York', 'latitude': None, 'longi...
9                 WEbook  [{'city': 'New York', 'latitude': 38.984172, '...
10                WeShow  [{'city': 'New York', 'latitude': 40.752516, '...
11           SimulScribe  [{'city': 'New York', 'latitude': 40.762673, '...
12            TravelMuse  [{'city': 'New York', 'latitude': 37.402802, '...
13               b5media  [{'city': 'Toronto, ON', 'latitude': None, 'lo...
14               Oddcast  [{'city': 'New York', 'latitude': 40.752325, '...
15   Inform Technologies  [{'city': 'New York', 'latitude': 40.744639, '...
16                   OLX  [{'city': 'New York', 'latitude': 40.8587524, ...
17              Phreesia  [{'city': 'New York', 'latitude': 40.739794, '...
18             Tripology  [{'city': 'New York', 'latitude': 40.746883, '...
19            WebCollage  [{'city': 'New York', 'latitude': None, 'longi...
20                Weplay  [{'city': 'New York', 'latitude': None, 'longi...
21               Zemanta  [{'city': 'London', 'latitude': 51.5141566, 'l...
22        Perfect Market  [{'city': 'Pasadena', 'latitude': 34.146436, '...
23              Cellufun  [{'city': 'New York', 'latitude': 40.73993, 'l...
24         Familybuilder  [{'city': 'New York', 'latitude': None, 'longi...
25           GroupSpaces  [{'city': 'London', 'latitude': None, 'longitu...
26           SearchForce  [{'city': 'San Mateo', 'latitude': None, 'long...
27         BrandYourself  [{'city': 'New York', 'latitude': 42.275263, '...
28                 Boxee  [{'city': 'Tel Aviv', 'latitude': 32.0554, 'lo...
29            BountyJobs  [{'city': 'New York', 'latitude': 40.754211, '...
30       My Damn Channel  [{'city': 'New York', 'latitude': 40.754762, '...
31               muzu tv  [{'city': 'Dublin', 'latitude': 53.341987, 'lo...
32                 Hunch  [{'city': 'New York', 'latitude': 40.741179, '...
33        Stack Exchange  [{'city': 'New York', 'latitude': None, 'longi...
34        Stack Exchange  [{'city': 'New York', 'latitude': None, 'longi...
35          ReverbNation  [{'city': 'Durham', 'latitude': 36.002893, 'lo...
36  For Your Imagination  [{'city': 'New York', 'latitude': 40.744594, '...
37                 Yipit  [{'city': 'New York', 'latitude': 40.744618, '...
38                 Nuxeo  [{'city': 'Paris', 'latitude': 48.8656319, 'lo...
39             Synthesio  [{'city': 'London', 'latitude': None, 'longitu...
40        People Capital  [{'city': 'New York', 'latitude': 40.756054, '...
41               Mantara  [{'city': 'New York', 'latitude': 40.726517, '...
42              PEX Card  [{'city': 'New York', 'latitude': 40.752539, '...
43   Major League Gaming  [{'city': 'New York', 'latitude': 40.752672, '...
44              CogniFit  [{'city': 'New York', 'latitude': 47.6023367, ...
45         iPharro Media  [{'city': 'Darmstadt', 'latitude': 49.8740096,...
46             SpaBooker  [{'city': 'New York', 'latitude': 40.738567, '...
47     GameChanger Media  [{'city': 'New York', 'latitude': 40.7078343, ...
48                Garlik  [{'city': 'Richmond', 'latitude': 51.462108, '...
49                 Saavn  [{'city': 'New York', 'latitude': 40.743877, '...
50            GameGround  [{'city': 'New York', 'latitude': 40.756054, '...
51                  Blip  [{'city': 'New York', 'latitude': None, 'longi...
52        Optimum Energy  [{'city': 'Seattle', 'latitude': 47.598657, 'l...
53                 Exent  [{'city': 'New York', 'latitude': 40.7523796, ...
54         ChallengePost  [{'city': 'New York', 'latitude': 40.7408042, ...

In [14]:
# Create new columns for "city", "latitude", and "longitude"
df_ny['city'] = df_ny['offices'].apply(lambda x: x[0]['city'] if x else None)
df_ny['latitude'] = df_ny['offices'].apply(lambda x: x[0]['latitude'] if x else None)
df_ny['longitude'] = df_ny['offices'].apply(lambda x: x[0]['longitude'] if x else None)

# Drop columnes, nan values and wrong cities
df_ny.drop('offices', axis=1, inplace=True)
df_ny.dropna(subset=['latitude'], inplace=True)
df_ny = df_ny.loc[df_ny['city'].str.contains('New York')]
df_ny

                    name      city   latitude   longitude
1                  Joost  New York  40.746497  -74.009447
2                 Meetup  New York  40.726040  -73.995722
3         Pando Networks  New York  40.722655  -73.998730
4             SpiralFrog  New York  37.090240  -95.712891
5                  Tutor  New York  40.707921  -74.004792
6                 OMGPOP  New York  40.723384  -74.001704
7                Behance  New York  40.744060  -74.004592
9                 WEbook  New York  38.984172  -77.095965
10                WeShow  New York  40.752516  -73.973072
11           SimulScribe  New York  40.762673  -73.969296
12            TravelMuse  New York  37.402802 -122.117418
14               Oddcast  New York  40.752325  -73.988477
15   Inform Technologies  New York  40.744639  -73.983963
16                   OLX  New York  40.858752  -73.725820
17              Phreesia  New York  40.739794  -73.985878
18             Tripology  New York  40.746883  -73.983969
23              Cellufun  New York  40.739930  -73.993049
27         BrandYourself  New York  42.275263  -71.247620
29            BountyJobs  New York  40.754211  -73.979170
30       My Damn Channel  New York  40.754762  -73.988543
32                 Hunch  New York  40.741179  -73.993182
36  For Your Imagination  New York  40.744594  -73.989698
37                 Yipit  New York  40.744618  -73.987764
40        People Capital  New York  40.756054  -73.986951
41               Mantara  New York  40.726517  -74.032177
42              PEX Card  New York  40.752539  -73.987871
43   Major League Gaming  New York  40.752672  -73.975930
44              CogniFit  New York  47.602337 -122.285011
46             SpaBooker  New York  40.738567  -73.987199
47     GameChanger Media  New York  40.707834  -74.013661
49                 Saavn  New York  40.743877  -73.986180
50            GameGround  New York  40.756054  -73.986951
53                 Exent  New York  40.752380  -74.005568
54         ChallengePost  New York  40.740804  -74.007170

In [15]:
#df_ny.to_csv('../data/tech_companies_ny.csv', index=False)

###### NEW YORK

In [16]:
query = {"$or": [
        {"category_code": "biotech"},
        {"category_code": "cleantech"},
        {"category_code": "games_video"},
        {"category_code": "nanotech"},
        {"category_code": "software"},
        {"category_code": "web"}
    ]}
cond_2 = {"funding_rounds.raised_amount": {"$gte": 1000000}}
cond_3 = {"number_of_employees": {"$lte": 100}}
cond_4 = {"offices.city": "Santa Monica"}


query = {"$and": [query, cond_2, cond_3, cond_4]}
projection = {"name": 1, "_id": 0, "offices.city":1, "offices.latitude": 1, "offices.longitude": 1}
tech_startups_sm = list(c.find(query, projection))


df_sm = pd.DataFrame(tech_startups_sm)
df_sm

                 name                                            offices
0             Docstoc  [{'city': 'Santa Monica', 'latitude': 34.01827...
1           Goodreads  [{'city': 'Santa Monica', 'latitude': 34.01052...
2           PluggedIn  [{'city': 'Santa Monica', 'latitude': 34.00796...
3        Titan Gaming  [{'city': 'Santa Monica', 'latitude': 53.54471...
4  Total Beauty Media  [{'city': 'Santa Monica', 'latitude': None, 'l...
5           ZillionTV  [{'city': 'Sunnyvale', 'latitude': 37.3738725,...
6              Tongal  [{'city': 'Santa Monica', 'latitude': 34.00711...
7                Blip  [{'city': 'New York', 'latitude': None, 'longi...

In [17]:
# Create new columns for "city", "latitude", and "longitude"
df_sm['city'] = df_sm['offices'].apply(lambda x: x[0]['city'] if x else None)
df_sm['latitude'] = df_sm['offices'].apply(lambda x: x[0]['latitude'] if x else None)
df_sm['longitude'] = df_sm['offices'].apply(lambda x: x[0]['longitude'] if x else None)

# Drop columnes, nan values and wrong cities
df_sm.drop('offices', axis=1, inplace=True)
df_sm.dropna(subset=['latitude'], inplace=True)
df_sm = df_sm.loc[df_sm['city'].str.contains('Santa Monica')]
df_sm

           name          city   latitude   longitude
0       Docstoc  Santa Monica  34.018275 -118.495025
1     Goodreads  Santa Monica  34.010520 -118.495981
2     PluggedIn  Santa Monica  34.007967 -118.489681
3  Titan Gaming  Santa Monica  53.544711 -113.515769
6        Tongal  Santa Monica  34.007112 -118.489748

In [18]:
#df_sm.to_csv('../data/tech_companies_sm.csv', index=False)